body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: url('images/hero.jpg') center/cover;
    color: white;
    padding: 120px;
}


#about {
    padding: 60px;
    text-align: center;
    background: #f4f4f4;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}

.services {
    padding: 40px;
    text-align: center;
}

.contact {
    padding: 60px;
    text-align: center;
}

.contact input,
.contact textarea {
    width: 60%;
    padding: 10px;
    margin: 10px;
}


footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    .contact input,
    .contact textarea {
        width: 90%;
    }

    .hero {
        padding: 60px;
    }
}

