body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: lightgray;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}

.services {
    padding: 40px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
